<gettemplet file="default/head.html"/>
<style> 
body, td{ 
    font-size: 10pt; 
    	background-image: url(/template/default/money/back.gif);
} 
.input_on{ 
    padding:2px 8px 0pt 3px; 
    height:18px; 
    border:1px solid #999; 
    background-color:#FFFFCC; 
} 
.input_off{ 
    padding:2px 8px 0pt 3px; 
    height:18px; 
    border:1px solid #CCC; 
    background-color:#FFF; 
} 
.input_move{ 
    padding:2px 8px 0pt 3px; 
    height:18px; 
    border:1px solid #999; 
    background-color:#FFFFCC; 
} 
.input_out{ 
    /*height:16px;默认高度*/ 
    padding:2px 8px 0pt 3px; 
    height:18px; 
    border:1px solid #CCC; 
    background-color:#FFF; 
} 
/*form*/ 
ul.input_test{ 
    margin:20px auto 0 auto; 
    width:500px; 
    list-style-type:none; 
} 
ul.input_test li{ 
    width:500px; 
    height:22px; 
    margin-bottom:10px; 
} 
.input_test label{ 
    float:left; 
    padding-right:10px; 
    width:100px; 
    line-height:22px; 
    text-align:right; 
    font-size:1.4em; 
} 
.input_test p{ 
    float:left; 
    _margin-top:-1px; 
} 
.input_test span{ 
    float:left; 
    padding-left:10px; 
    line-height:22px; 
    text-align:left; 
    font-size:1.2em; 
    color:#999; 
a:link { 
    color: #FF0000; 
} 
a:visited { 
    color: #FF0000; 
} 
a:hover { 
    color: #006600; 
} 
.style1 {color: #0099CC}
.it_s { display:table; border:1px solid #979797}
.it1,.it2 { border:1px solid #fff; background:#fff none repeat scroll 0 0}
.it1 { border:1px solid #fff;}
.it2 { border-left:1px solid #000; border-top:1px solid #000}

.test {
   height: 16px;
   width: 120px;
}
</style> 
<script type="text/javascript">
function check3()
{
   var text3=document.getElementById("nickname");
   var text4=document.getElementById("user_name");
   if(text3.value==""&&text4.value=="")
   {
     alert("不能为空哦！请重新输入其中一项再查询。");
   }
}
</script>
	<table width="100%" border="1">
	  <tr>
	    <td width="50" height="28" colspan="2" align="center"  valign="middle" bgcolor="#CCCCCC"  ><a href="/?module=macro_data&methods=gameupdate&e=add">添加</a></span>&nbsp;&nbsp;&nbsp;<a href="/?module=macro_data&methods=gameupdate&e=list">列表</a></td>
      </tr>
</table>
<!--?
if($_GET["e"]=="add"){
?-->
	<table width="100%" border="1">
  <tr><td width="50%" height="28" valign="top"><form action="/?module=macro_data&methods=addactgameupdate" method="post" enctype="application/x-www-form-urlencoded" name="form1" id="form1">
    <table width="914" border="1">
      <tr>
        <td width="77">标题</td>
        <td width="717"><input name="title" type="text" id="title" value="<echo>isset($updateinfo)?$updateinfo['title']:''</echo>" />
          <input name="id" type="hidden" id="id" value="<echo>isset($updateinfo)?$updateinfo['id']:''</echo>" /></td>
        </tr>
      <tr>
        <td>更新时间</td>
        <td><input name="date" type="text" id="date" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" value="<echo>isset($updateinfo)?date('Y-m-d',$updateinfo['date']):''</echo>"/></td>
        </tr>
      <tr>
        <td>更新图片</td>
        <td><input name="img" type="text" id="img"  value="<echo>isset($updateinfo)?$updateinfo['img']:'/placardimg/default.png'</echo>" size="60"/> *要/开头</td>
      </tr>
      <tr>
        <td>图片链接</td>
        <td><input name="imgline" type="text" id="imgline"  value="<echo>isset($updateinfo)?$updateinfo['imgline']:'/'</echo>"/>图片的链接地址可以是url，也可以是模块代码，要打开模块的话以event:27ϢOpenFunction（27是模块ID）</td>
      </tr>
      <tr>
        <td>内容</td>
        <td>
        <textarea name="info" id="info" style="display:none"><echo>isset($updateinfo)?$updateinfo['info']:''</echo></textarea>
        <!--?
        require(D_R."/module/Edit/index.php");
		edit(290,580,"info","briefness","module/Edit/");
        ?-->
        <!--<textarea name="info" cols="50" rows="15" id="info"><echo>isset($updateinfo)?$updateinfo['info']:''</echo></textarea>-->
        </td>
        </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" name="button" id="button" value="提交" /></td>
        </tr>
      </table>
    </form></td>
  </tr>
</table>
<!--?
}else{
?-->
<table width="100%" border="1">
  <variable data="$gameupdatelist">
    <loop list="$i">
  <tr>
    <td width="8%"><echo>$gameupdatelist[$i]["title"]</echo></td>
    <td width="8%"><echo>date("Y-m-d",$gameupdatelist[$i]["date"])</echo></td>
    <td width="76%"><echo>$gameupdatelist[$i]["info"]</echo></td>
    <td width="8%"><a href="/?module=macro_data&methods=gameupdate&e=add&id=<echo>$gameupdatelist[$i]['id']</echo>">编辑</a></td>
  </tr>
</loop>
</variable>
</table>
<!--?
}
?-->