<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<title> 管理中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta content="Comsenz Inc." name="Copyright" />
<link rel="stylesheet" href="/template/image/admincp/admincp.css" type="text/css" media="all" />

<script src="/template/js/common.js" type="text/javascript"></script>


<style type="text/css">
ul {margin:0;list-style:none;padding:0;font-size:12px;}
ul li {line-height:18px;}
.base_npc1 {padding:5px 20px;}
.base_npc2 {padding:5px 20px;}
.base_npc3 {padding:5px 20px;}
.base_npc4 {padding:5px 20px;}
.base_npc5 {padding:5px 20px;}
.base_npc6 {padding:5px 20px;}
.base_npc7 {padding:5px 20px;}
.base_npc8 {padding:5px 20px;}
.base_npc9 {padding:5px 20px;}
body {background-color: #CCCCCC;}
</style>
</head>
<body style="margin: 0px" scroll="no">
<div id="append_parent"></div>

<table id="frametable" cellpadding="0" cellspacing="0" width="100%" height="100%">
<tr>
<td colspan="2" height="90">
<div class="mainhd">

<div class="uinfo" id="frameuinfo">

</div>
<p align="right">  <span align="right" class="style12">您好,  <em>admin</em>[<a href="/template/default/login/login_out.php" target="_parent" class="style11"> 安全退出</a>] </span>&nbsp;&nbsp; &nbsp;
</p>
<div class="nav">
<ul id="topmenu">
<li><em><a href="" id="header_index" hidefocus="true" onMouseOver="previewheader('index')" onMouseOut="previewheader()" onClick="toggleMenu('index', 'index');doane(event);">宏观数据</a></em></li>
<li><em><a href="" id="header_global" hidefocus="true" onMouseOver="previewheader('global')" onMouseOut="previewheader()" onClick="toggleMenu('global', 'setting&operation=basic');doane(event);">系统数据</a></em></li>
<li><em><a href="" id="header_style" hidefocus="true" onMouseOver="previewheader('style')" onMouseOut="previewheader()" onClick="toggleMenu('style', 'nav');doane(event);">文件数据</a></em></li>
<li><em><a href="" id="header_topic" hidefocus="true" onMouseOver="previewheader('topic')" onMouseOut="previewheader()" onClick="toggleMenu('topic', 'moderate');doane(event);">基表管理①</a></em></li>
<li><em><a href="" id="header_user" hidefocus="true" onMouseOver="previewheader('user')" onMouseOut="previewheader()" onClick="toggleMenu('user', 'members&operation=search');doane(event);">基表管理②</a></em></li>
<li></li>
</ul>
<div class="currentloca">
<p id="admincpnav"></p>
</div>
<div class="navbd"></div>

</div>
</div>
</td>
</tr>
<tr>
<td valign="top" width="160" class="menutd">
<div id="leftmenu" class="menu">
<ul id="menu_index" style="display: none">
<li><a href="/?module=macro_data&methods=query_user_info" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>用户数据修改</a></li>
<li><a href="/?module=macro_data&methods=iplist" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>封IP</a></li>
<li><a href="/?module=macro_data&methods=id_list" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>封ID</a></li>
<li><a href="/?module=macro_data&methods=gag_list" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>禁言用户</a></li>
<li><a href="/?module=macro_data&methods=key_list" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="屏蔽关键字"></em>词语过滤</a></li>
<li><a href="/?module=macro_data&methods=notice_list" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>公告编辑</a></li>

</ul>


<ul id="menu_global" style="display: none">

<li><a href="../log.php" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>查看日志</a></li>
<li><a href="/?module=user&methods=user_map" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>人物分布统计</a></li>
<li class="s">
<div class="lsub desc" subid="Ma5f625b1">
<div onClick="lsub('Ma5f625b1', this.parentNode)">人物统计</div>
<ol style="display:none;" id="Ma5f625b1">
<li><a href="/?module=user" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>人物在线统计</a></li>
<li><a href="/?module=user&methods=user_count" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>人物等级统计</a></li>
</ol></div>
</li>

<li class="s">
<div class="lsub desc" subid="Ma5f625b2">
<div onClick="lsub('Ma5f625b2', this.parentNode)">玩家状态</div>
<ol style="display:none;" id="Ma5f625b2">
<li><a href="/?module=player&methods=play_rmb" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>人民币玩家</a></li>
<li><a href="/?module=player&methods=play_active" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>活跃玩家</a></li>
<li><a href="/?module=player&methods=play_pt" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>普通玩家</a></li>
<li><a href="/?module=player&methods=play_ld" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>冷淡玩家</a></li>
<li><a href="/?module=player&methods=play_kefei" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>可废弃玩家</a></li>
<li><a href="/?module=player&methods=play_die" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>死用户</a></li>
</ol></div>
</li>

<li class="s">
<div class="lsub desc" subid="M4b0ab7ba">
<div onClick="lsub('M4b0ab7ba', this.parentNode)">金额管理系统</div>
<ol style="display:none;" id="M4b0ab7ba">
<li><a href="" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>金币管理</a></li>
<li><a href="" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>铜币管理</a></li>
<li><a href="" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>竞技点管理</a></li>
</ol></div>
</li>
</ul>


<ul id="menu_style" style="display: none">

<li><a href="/?module=files&methods=base" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>基表转文件</a></li>
<li><a href="/?module=files&methods=initialization" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>游戏初始化</a></li>
<li><a href="/?module=files&methods=zip" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>生成zip</a></li>
<li><a href="/?module=files&methods=copyzip" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>复制zip文件</a></li>
</ul>
<ul id="menu_topic" style="display: none">
<li><a href="/?module=goods&methods=base" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>物品基表管理</a></li>
<li><a href="/?module=goods&methods=ext&type=1" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>物品扩展表管理</a></li>
<li><a href="/?module=monster&methods=monster_list_views" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>怪物集合</a></li>
</ul>
 <!--*************************************************基表数据管理2***************************************************-->
<ul id="menu_user" style="display: none">
 <!--*************************************************商店物品查询***************************************************-->
<li class="s">
<div class="lsub desc" subid="M4b0ab712">
<div onClick="lsub('M4b0ab712', this.parentNode)">商店物品查询</div>
<ol style="display:none;" id="M4b0ab712">
<li><a href="/?module=mall&methods=index&type=100" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>装备店</a></li>
<li><a href="/?module=mall&methods=index&type=101" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>药品店</a></li>
<li><a href="/?module=mall&methods=index&type=102" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>杂货店</a></li>
</ol></div>
</li>


 <!--商城物品查询RPG-->
<li class="s">
<div class="lsub desc" subid="M4b0ab713">
<div onClick="lsub('M4b0ab713', this.parentNode)">商城物品查询rpG</div>
<ol style="display:none;" id="M4b0ab713">
<li><a href="/?module=mall&methods=index&type=2" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>材料</a></li>
<li><a href="/?module=mall&methods=index&type=3" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>消耗</a></li>
<li><a href="/?module=mall&methods=index&type=4" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>宝石</a></li>
<li><a href="/?module=mall&methods=index&type=5" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>宝物</a></li>
<li><a href="/?module=mall&methods=index&type=7" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>种子</a></li>
</ol></div>
</li>
<!--商城物品查询SLG-->
<li class="s">
<div class="lsub desc" subid="M4b0ab715">
<div onClick="lsub('M4b0ab715', this.parentNode)">商城物品查询slG</div>
<ol style="display:none;" id="M4b0ab715">
<li><a href="/?module=mall1&methods=index&type=6" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>武器</a></li>
<li><a href="/?module=mall1&methods=index&type=1" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>防具</a></li>
<li><a href="/?module=mall1&methods=index&type=2" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>坐骑</a></li>
<li><a href="/?module=mall1&methods=index&type=3" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>披风</a></li>
<li><a href="/?module=mall1&methods=index&type=4" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>秘籍</a></li>
<li><a href="/?module=mall1&methods=index&type=2" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>兵符</a></li>
<li><a href="/?module=mall1&methods=index&type=2" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>稀有物品</a></li>
</ol></div>
</li>
<!--其它物品-->
<li class="s">
<div class="lsub desc" subid="M4b0ab716">
<div onClick="lsub('M4b0ab716', this.parentNode)">其它物品</div>
<ol style="display:none;" id="M4b0ab716">
<li><a href="../view_goods.php?estate=3" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>任务物品</a></li>

</ol></div>
</li>
<!--怪物管理-->
<li class="s">
<div class="lsub desc" subid="M4b0ab718">
<div onClick="lsub('M4b0ab718', this.parentNode)">怪物管理</div>
<ol style="display:none;" id="M4b0ab718">
<li><a href="../public_manage.php?tab=base_monster" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>怪物管理</a></li>
<li><a href="../public_manage.php?tab=base_monster_list" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>怪物集合管理</a></li>
<li><a href="../public_manage.php?tab=base_monster_lv" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>怪物等级管理</a></li>

</ol></div>
</li>
<!--忍术管理-->
<li class="s">
<div class="lsub desc" subid="M1b0ab713">
<div onClick="lsub('M1b0ab713', this.parentNode)">忍术管理</div>
<ol style="display:none;" id="M1b0ab713">
<li><a href="../public_manage.php?tab=base_ninjutsu" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>忍术管理</a></li>
<li><a href="../public_manage.php?tab=base_ninjutsu_lv" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>忍术等级管理</a></li>

</ol></div>
</li>
<!--其它表管理-->
<li class="s">
<div class="lsub desc" subid="M4b4ab713">
<div onClick="lsub('M4b4ab713', this.parentNode)">其它表管理</div>
<ol style="display:none;" id="M4b4ab713">
<li><a href="../public_manage.php?tab=base_map_nexus" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>地图关系管理</a></li>
<li><a href="../public_manage.php?tab=base_npc" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>NPC信息管理</a></li>
<li><a href="../public_manage.php?tab=base_properties" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>基本属性管理</a></li>
<li><a href="../public_manage.php?tab=base_qihai_lv" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>气海管理</a></li>
<li><a href="../public_manage.php?tab=base_qmdj" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>品质管理</a></li>
<li><a href="../public_manage.php?tab=base_task" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>任务管理</a></li>
<li><a href="../public_manage.php?tab=base_user_lv" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>人物等级管理</a></li>
<li><a href="../public_manage.php?tab=base_soldier" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>兵种管理</a></li>
<li><a href="../public_manage.php?tab=base_technology" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>科技管理</a></li>
<li><a href="../public_manage.php?tab=base_national_policy" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>国策管理</a></li>
<li><a href="../public_manage.php?tab=base_hero" hidefocus="true" target="main"><em onClick="menuNewwin(this)" title="新窗口打开"></em>英雄管理</a></li>
</ol></div>
</li>







</ul>
</div>


	<!-- <td valign="top" width="100%" class="mask">
<iframe src="" id="main" name="main" width="100%" height="100%" frameborder="0" scrolling="yes" style="overflow:none;display:">
	</iframe> -->
	
	    <td width="*"class="mask">
    <iframe id="main" name="main" src="" marginwidth="0" framespacing="0" marginheight="0" frameborder="0" style="width:100%;height:900px;">
    </iframe>
</td>

</table>
<div id="scrolllink" style="display: none">
	<span onClick="menuScroll(1)">
	<img src="/template/image/admincp/scrollu.gif"/></span><span onClick="menuScroll(2)">
	<img src="/template/image/admincp/scrolld.gif" /></span>
</div>


<div id="cpmap_menu" class="custom" style="display: none">
	<div class="cmain" id="cmain"></div>
	<div class="cfixbd"></div>
</div>









<script type="text/JavaScript">
	var cookiepre = 'awW4_2132_', cookiedomain = '', cookiepath = '/';
	var headers = new Array('index','global','style','topic','user','portal','forum','group','extended','plugin','tools','cloud','founder','uc'), admincpfilename = 'admin.php', menukey = '';
	function switchheader(key) {
		if(!key || !$('header_' + key)) {
			return;
		}
		for(var k in top.headers) {
			if($('menu_' + headers[k])) {
				$('menu_' + headers[k]).style.display = headers[k] == key ? '' : 'none';
			}
		}
		var lis = $('topmenu').getElementsByTagName('li');
		for(var i = 0; i < lis.length; i++) {
			if(lis[i].className == 'navon') lis[i].className = '';
		}
		$('header_' + key).parentNode.parentNode.className = 'navon';
	}
	var headerST = null;
	function previewheader(key) {
		if(key) {
			headerST = setTimeout(function() {
				for(var k in top.headers) {
					if($('menu_' + headers[k])) {
						$('menu_' + headers[k]).style.display = headers[k] == key ? '' : 'none';
					}
				}
				var hrefs = $('menu_' + key).getElementsByTagName('a');
				for(var j = 0; j < hrefs.length; j++) {
					hrefs[j].className = '';
				}
			}, 1000);
		} else {
			clearTimeout(headerST);
		}
	}
	function toggleMenu(key, url) {
		menukey = key;
		switchheader(key);
		if(url) {
			parent.main.location = admincpfilename + '?action=' + url;
			var hrefs = $('menu_' + key).getElementsByTagName('a');
			for(var j = 0; j < hrefs.length; j++) {
				hrefs[j].className = j == (key == 'plugin' ? 1 : 0) ? 'tabon' : '';
			}
		}
		if(key == 'uc') {
			parent.main.location = $('header_uc').href + '&a=main&iframe=1';
		}
		setMenuScroll();
	}
	function setMenuScroll() {
		$('frametable').style.width = document.body.offsetWidth < 1000 ? '1000px' : '100%';
		var obj = $('menu_' + menukey);
		if(!obj) {
			return;
		}
		var scrollh = document.body.offsetHeight - 160;
		obj.style.overflow = 'visible';
		obj.style.height = '';
		$('scrolllink').style.display = 'none';
		if(obj.offsetHeight + 150 > document.body.offsetHeight && scrollh > 0) {
			obj.style.overflow = 'hidden';
			obj.style.height = scrollh + 'px';
			$('scrolllink').style.display = '';
		}
	}
	function resizeHeadermenu() {
		var lis = $('topmenu').getElementsByTagName('li');
		var maxsize = $('frameuinfo').offsetLeft - 160, widths = 0, moi = -1, mof = '';
		if($('menu_mof')) {
			$('topmenu').removeChild($('menu_mof'));
		}
		if($('menu_mof_menu')) {
			$('append_parent').removeChild($('menu_mof_menu'));
		}
		for(var i = 0; i < lis.length; i++) {
			widths += lis[i].offsetWidth;
			if(widths > maxsize) {
				lis[i].style.visibility = 'hidden';
				var sobj = lis[i].childNodes[0].childNodes[0];
				if(sobj) {
					mof += '<a href="'+ sobj.getAttribute('href') + '" onclick="$(\'' + sobj.id + '\').onclick()">&rsaquo; ' + sobj.innerHTML + '</a><br style="clear:both" />';
				}
			} else {
				lis[i].style.visibility = 'visible';
			}
		}
		if(mof) {
			for(var i = 0; i < lis.length; i++) {
				if(lis[i].style.visibility == 'hidden') {
					moi = i;
					break;
				}
			}
			mofli = document.createElement('li');
			mofli.innerHTML = '<em><a href="javascript:;">&raquo;</a></em>';
			mofli.onmouseover = function () { showMenu({'ctrlid':'menu_mof','pos':'43'}); }
			mofli.id = 'menu_mof';
			$('topmenu').insertBefore(mofli, lis[moi]);
			mofmli = document.createElement('li');
			mofmli.className = 'popupmenu_popup';
			mofmli.style.width = '150px';
			mofmli.innerHTML = mof;
			mofmli.id = 'menu_mof_menu';
			mofmli.style.display = 'none';
			$('append_parent').appendChild(mofmli);
		}
	}
	function menuScroll(op, e) {
		var obj = $('menu_' + menukey);
		var scrollh = document.body.offsetHeight - 160;
		if(op == 1) {
			obj.scrollTop = obj.scrollTop - scrollh;
		} else if(op == 2) {
			obj.scrollTop = obj.scrollTop + scrollh;
		} else if(op == 3) {
			if(!e) e = window.event;
			if(e.wheelDelta <= 0 || e.detail > 0) {
				obj.scrollTop = obj.scrollTop + 20;
			} else {
				obj.scrollTop = obj.scrollTop - 20;
			}
		}
	}
	function menuNewwin(obj) {
		var href = obj.parentNode.href;
		if(obj.parentNode.href.indexOf(admincpfilename + '?') != -1) {
			href += '&frames=yes';
		}
		window.open(href);
		doane();
	}
	function initCpMenus(menuContainerid) {
		var key = '', lasttabon1 = null, lasttabon2 = null, hrefs = $(menuContainerid).getElementsByTagName('a');
		for(var i = 0; i < hrefs.length; i++) {
			if(menuContainerid == 'leftmenu' && 'action=index'.indexOf(hrefs[i].href.substr(hrefs[i].href.indexOf(admincpfilename + '?') + admincpfilename.length + 1)) != -1) {
				if(lasttabon1) {
					lasttabon1.className = '';
				}
				if(hrefs[i].parentNode.parentNode.tagName == 'OL') {
					hrefs[i].parentNode.parentNode.style.display = '';
					hrefs[i].parentNode.parentNode.parentNode.className = 'lsub desc';
					key = hrefs[i].parentNode.parentNode.parentNode.parentNode.parentNode.id.substr(5);
				} else {
					key = hrefs[i].parentNode.parentNode.id.substr(5);
				}
				hrefs[i].className = 'tabon';
				lasttabon1 = hrefs[i];
			}
			if(!hrefs[i].getAttribute('ajaxtarget')) hrefs[i].onclick = function() {
				if(menuContainerid != 'custommenu') {
					var lis = $(menuContainerid).getElementsByTagName('li');
					for(var k = 0; k < lis.length; k++) {
						if(lis[k].firstChild && lis[k].firstChild.className != 'menulink') {
							if(lis[k].firstChild.tagName != 'DIV') {
								lis[k].firstChild.className = '';
							} else {
								var subid = lis[k].firstChild.getAttribute('sid');
								if(subid) {
									var sublis = $(subid).getElementsByTagName('li');
									for(var ki = 0; ki < sublis.length; ki++) {
										if(sublis[ki].firstChild && sublis[ki].firstChild.className != 'menulink') {
											sublis[ki].firstChild.className = '';
										}
									}
								}
							}
						}
					}
					if(this.className == '') this.className = menuContainerid == 'leftmenu' ? 'tabon' : '';
				}
				if(menuContainerid != 'leftmenu') {
					var hk, currentkey;
					var leftmenus = $('leftmenu').getElementsByTagName('a');
					for(var j = 0; j < leftmenus.length; j++) {
						if(leftmenus[j].parentNode.parentNode.tagName == 'OL') {
							hk = leftmenus[j].parentNode.parentNode.parentNode.parentNode.parentNode.id.substr(5);
						} else {
							hk = leftmenus[j].parentNode.parentNode.id.substr(5);
						}
						if(this.href.indexOf(leftmenus[j].href) != -1) {
							if(lasttabon2) {
								lasttabon2.className = '';
							}
							leftmenus[j].className = 'tabon';
							if(leftmenus[j].parentNode.parentNode.tagName == 'OL') {
								leftmenus[j].parentNode.parentNode.style.display = '';
								leftmenus[j].parentNode.parentNode.parentNode.className = 'lsub desc';
							}
							lasttabon2 = leftmenus[j];
							if(hk != 'index') currentkey = hk;
						} else {
							leftmenus[j].className = '';
						}
					}
					if(currentkey) toggleMenu(currentkey);
					hideMenu();
				}
			}
		}
		return key;
	}
	function lsub(id, obj) {
		display(id);
		obj.className = obj.className != 'lsub' ? 'lsub' : 'lsub desc';
		if(obj.className != 'lsub') {
			setcookie('cpmenu_' + id, '');
		} else {
			setcookie('cpmenu_' + id, 1, 31536000);
		}
		setMenuScroll();
	}
	var header_key = initCpMenus('leftmenu');
	toggleMenu(header_key ? header_key : 'index');
	function initCpMap() {
		var ul, hrefs, s = '', count = 0;
		for(var k in headers) {
			if(headers[k] != 'index' && headers[k] != 'uc') {
				s += '<tr><td valign="top"><h4>' + $('header_' + headers[k]).innerHTML + '</h4></td><td valign="top">';
				ul = $('menu_' + headers[k]);
				if(!ul) {
					continue;
				}
				hrefs = ul.getElementsByTagName('a');
				for(var i = 0; i < hrefs.length; i++) {
					s += '<a href="' + hrefs[i].href + '" target="' + hrefs[i].target + '" k="' + headers[k] + '">' + hrefs[i].innerHTML + '</a>';
				}
				s += '</td></tr>';
				count++;
			}
		}
		var width = 720;
		s = '<div class="cnote" style="width:' + width + 'px"><span class="right"><a href="###" class="flbc" onclick="hideMenu();return false;"></a></span><h3>管理中心导航</h3></div>' +
			'<div class="cmlist" style="width:' + width + 'px;height: 410px"><table id="mapmenu" cellspacing="0" cellpadding="0">' + s +
			'</table></div>';
		$('cmain').innerHTML = s;
		$('cmain').style.width = (width > 1000 ? 1000 : width) + 'px';
	}
	initCpMap();
	initCpMenus('mapmenu');
	var cmcache = false;
	function showMap() {
		showMenu({'ctrlid':'cpmap','evt':'click', 'duration':3, 'pos':'00'});
	}
	function resetEscAndF5(e) {
		e = e ? e : window.event;
		actualCode = e.keyCode ? e.keyCode : e.charCode;
		if(actualCode == 27) {
			if($('cpmap_menu').style.display == 'none') {
				showMap();
			} else {
				hideMenu();
			}
		}
		if(actualCode == 116 && parent.main) {
			parent.main.location.reload();
			if(document.all) {
				e.keyCode = 0;
				e.returnValue = false;
			} else {
				e.cancelBubble = true;
				e.preventDefault();
			}
		}
	}
	function uc_left_menu(uc_menu_data) {
		var leftmenu = $('menu_uc');
		leftmenu.innerHTML = '';
		var html_str = '';
		for(var i=0;i<uc_menu_data.length;i+=2) {
			html_str += '<li><a href="'+uc_menu_data[(i+1)]+'" hidefocus="true" onclick="uc_left_switch(this)" target="main"><em onclick="menuNewwin(this)" title="新窗口打开"></em>'+uc_menu_data[i]+'</a></li>';
		}
		leftmenu.innerHTML = html_str;
	}
	var uc_left_last = null;
	function uc_left_switch(obj) {
		if(uc_left_last) {
			uc_left_last.className = '';
		}
		obj.className = 'tabon';
		uc_left_last = obj;
	}
	function uc_modify_sid(sid) {
		$('header_uc').href = 'http://localhost/uc_server/admin.php?m=frame';
	}

	_attachEvent(document.documentElement, 'keydown', resetEscAndF5);
	_attachEvent(window, 'resize', setMenuScroll, document);
	_attachEvent(window, 'resize', resizeHeadermenu, document);
	if(BROWSER.ie){
		$('leftmenu').onmousewheel = function(e) { menuScroll(3, e) };
	} else {
		$('leftmenu').addEventListener("DOMMouseScroll", function(e) { menuScroll(3, e) }, false);
	}
	resizeHeadermenu();
</script>
</body>
</html>
