<gettemplet file="default/head.html"/>
<form name="form1" method="post" action="/?module=test&methods=index">
  <table width="271" border="1">
    <tr>
      <td colspan="2"><a href="/?module=test&methods=delgoods">删除掉不合法物品</a><br>
      <a href="/?module=test&methods=repair_base2_monster_list">修复base2_monster_list</a></td>
    </tr>
    <tr>
      <td width="25">md5</td>
      <td width="230"><input type="text" name="md5" id="md5">
      <input type="submit" name="button" id="button" value="提交"></td>
    </tr>
  </table>
</form>
<echo>$md5</echo>
</BODY>
</HTML>