<gettemplet file="default/head.html"/>
<form align="center"action="" method="post" enctype="application/x-www-form-urlencoded" name="form1" id="form1">
　
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bordercolor="#CCCCCC">
    <tr>
      <td width="799" align="center" bgcolor="#CCCCCC"><div >
          <div align="left">请选择日期:
            <label>
              <input name="time1" type="text" id="time1" value="<echo>$time1</echo>" class="Wdate"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
              -
              <input name="time2" type="text" id="time2" value="<echo>$time2</echo>" class="Wdate"  onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})"/>
	        渠道：<select name="channel_id" >
	        		<option value="All"><echo>所有</echo></option>
	                  <!--?
						foreach($c as $key=>$value){
							$select = "";
    						if($_POST["channel_id"] == $value['id']){
    							$select = "selected='selected'";
    						}
					?-->
	                		<option value="<echo>$value['id']</echo>"  <echo>$select</echo> ><echo>$value['channel_name']</echo></option>
	                   <!--?
								}
						?-->
			</select>
	        平台：<select name="mobile_platforms" >
	        		<option value="All"><echo>所有</echo></option>
	                  <!--?
						foreach($d as $key=>$value){
							$select = "";
    						if($_POST["mobile_platforms"] == $value){
    							$select = "selected='selected'";
    						}
					?-->
	                		<option value="<echo>$value</echo>"  <echo>$select</echo> ><echo>$value</echo></option>
	                   <!--?
								}
						?-->
			</select>
		        </select>
              <input type="submit" name="button" id="button" value="查询" />
            </label>
          </div>
        </div>
        </td>
    </tr>
    <tr>
      <td align="left" colspan="2" bgcolor="#CCCCCC">
      <table id="reglist" width="100%" border="0" cellpadding="0" cellspacing="1">
          <tr  class="back_tr">
            <td  width="8%"><strong>日期</strong></td>
            <td  width="3%"><strong>新增激活数</strong></td>
            <td  width="3%"><strong>新增注册数</strong></td>
            
            <td  width="3%"><strong>注册转化率</strong></td>
            <td  width="3%"><strong>充值金额</strong></td>
            <td  width="4%"><strong>付费人数</strong></td>
            <td  width="4%"><strong>付费次数</strong></td>
            
            <td  width="4%"><strong>付费率</strong></td>
            <td  width="4%"><strong>次日设备留存</strong></td>
            <td  width="4%"><strong>7日设备留存率</strong></td>
            
            <td  width="4%"><strong>15日设备留存率</strong></td>
            <td  width="4%"><strong>ARPPU</strong></td>
            <td  width="4%"><strong>ARPU</strong></td>
          </tr>
          <!--?
    foreach($get_data as $key=>$value){
    ?-->
          <tr>
			<td><strong><echo>date("Y-m-d", strtotime(strval($value["today"]))); </echo></td>
			<td><strong><echo>$value["activation"] </echo></td>
			<td><strong><echo>$value["today_reg"] </echo></td>
			
			<td width="5%"  ><strong><echo>($value["activation"]==0)?0:round($value["activation_login"]/$value["activation"],3)*100 </echo>%</strong> </strong></td>
			<td width="5%"  ><strong><echo>$value["pay_money"]</echo> </strong> </strong></td>
			<td width="5%"  ><strong><echo>$value["pay_number_people"]   </echo></strong> </strong></td>
			<td width="5%"  ><strong><echo>$value["pay_number"]   </echo></strong> </strong></td>
			
			<td width="5%"  ><strong><echo>($value["today_reg"]==0)?0:round($value["pay_number_people"]/$value["today_reg"],3)*100   </echo>%</strong> </strong></td>
			<td width="5%"  ><strong><echo>($value["today_login_count"]==0)?0:round($value["todayloginmax2"]/$value["today_login_count"],3)*100   </echo>%</strong> </strong></td>
			<td width="5%"  ><strong><echo>($value["today_login_count"]==0)?0:round($value["todayloginmax7"]/$value["today_login_count"],3)*100   </echo>%</strong> </strong></td>
			
			<td width="5%"  ><strong><echo>($value["today_login_count"]==0)?0:round($value["todayloginmax15"]/$value["today_login_count"],3)*100   </echo>%</strong> </strong></td>
			<td width="5%"  ><strong><echo>($value["pay_number_people"]==0)?0:round($value["pay_money"]/$value["pay_number_people"],3)  </echo>　</strong> </strong></td>
			<td width="5%"  ><strong><echo>($value["today_reg"]==0)?0:round($value["pay_money"]/$value["today_reg"],3)  </echo>　</strong> </strong></td>
          </tr>
   <!--?
    }
    ?-->
        </table>
      </td>
    </tr>
  </table>
</form>
<script>
select_tr("reglist")
</script>
</BODY></HTML>