<gettemplet file="default/head.html"/>
<style>
.x1{
	color:#fff;
	text-align:center;
	padding-top:5px;
	cursor:hand;
	background-color:#CCCCCC;
}
.x1 a, .x1 a:link, .x1 a:visited{
	color:#FFF;
	text-decoration:none;
}
.x1 a:active{
	color:#09F;
}
.x2 {
	
	text-align:center;
	padding-top:5px;
	color:#00b4ff;
	cursor:hand;
	background-color:#CCCCCC;
}
</style>
<script type="text/javascript">
var tb = document.getElementById("tb");
var tt = tb.getElementsByTagName("a");
for(i=0; i<tt.length; i++){
	tt[i].onclick= function(){
		for(j=0; j<tt.length; j++){
			tt[j].style.color = "FFF";
			this.style.color  = "09F";
		}
	}
}
</script>
<script>
var tts=new Array();
tts[1]=new Array();
tts[2]=new Array();
tts[3]=new Array();
tts[4]=new Array();
//1头盔,2衣服,3鞋子,4战魂,5饰品,6武器
tts[1][0]="请选择";
tts[1][1]="头盔";
tts[1][2]="衣服";
tts[1][3]="鞋子";
tts[1][4]="战魂";
tts[1][5]="饰品";
tts[1][6]="武器";

tts[2][0]="请选择";
tts[2][1]="装备";
tts[2][2]="阵型";
tts[2][3]="武将卡";

tts[3][0]="请选择";
tts[3][1]="人物属性（一级）";
tts[3][2]="人物属性（二级）";
tts[3][3]="物品";
tts[3][4]="武将";

tts[4][0]="请选择";
tts[4][1]="宝石1";
tts[4][2]="宝石2";
tts[4][3]="宝石3";
tts[4][4]="宝石4";
tts[4][5]="宝石5";
tts[4][6]="宝石6";
tts[4][7]="宝石7";
tts[4][8]="宝石8";
tts[4][9]="宝石9";
tts[4][10]="宝石10";
tts[4][11]="宝石11";
tts[4][12]="宝石12";
tts[4][13]="宝石13";
tts[4][14]="宝石14";
tts[4][15]="宝石15";

function xs(obj)
{
	var sel='<select onchange="data_goods(this)" name="xia" id="xia">';
	for(var i=0;i<tts[obj.value].length;i++)
	{
		sel+='<option value="'+i+'">'+tts[obj.value][i]+'</option>';
	}
	sel+=' </select>';
	$("xiaolei").innerHTML=sel;
}

function data_goods(obj)
{
	var goods_type=$("dalei").value;
	var sub_type=obj.value;
	///?module=goods&methods=ext&type=1
	var url="/?module=goods&methods=base_goods_list&goods_type="+goods_type+"&sub_type="+sub_type;
	ajax_ultimate(url,"data_goods_","get");	
}

function data_goods_(string)
{
	string=json_x(string);
	var sel='<select  name="goods_tmp" id="goods_tmp">';
	for(var i=0;i<string.length;i++)
	{
		sel+='<option value="'+string[i]["goods_id"]+'">'+string[i]["goods_name"]+'</option>';
	}
	sel+=' </select>';
	$("wupig").innerHTML=sel;
}

</script>
<table width="100%" border="1">

   <tr>

        <td width="20%" height="20" class="x1" id='tab0'>
        <a href="/?module=goods&methods=ext&type=1"><font color="<echo>$obj->get['type']=='1'?'red':'blue'</echo>">装备</font></a></td>
        <td width="20%" height="20" class="x1" id='tab1'>
        <a href="/?module=goods&methods=ext&type=2"><font color="<echo>$obj->get['type']=='2'?'red':'blue'</echo>">材料</font></a></td>
        <td width="20%" class="x1" id='tab2'>
        <a href="/?module=goods&methods=ext&type=3"><font color="<echo>$obj->get['type']=='3'?'red':'blue'</echo>">宝物</font></a></td>
        <td width="20%" class="x1" id='tab3'>
        <a href="/?module=goods&methods=ext&type=4"><font color="<echo>$obj->get['type']=='4'?'red':'blue'</echo>">宝石</font></a></td>
  </tr>
  <tr>
  
    <td width="57"><a href="/?module=goods&methods=ext&type=1">列表</a></td>
    <td width="40%"><form id="form1" name="form1" method="post" action="/?module=goods&methods=ext_addshow">
    
      类型:
      <select onchange="xs(this)" name="dalei" id="dalei">
        <option value="0">请选择</option>
        <option value="1">装备</option>
        <option value="2">材料</option>
        <option value="3">宝物</option>
        <option value="4">宝石</option>
      </select>
      小类:<span id="xiaolei"><select name="xia" id="xia">
        <option>请选择</option>
      </select></span>
      物品:    
     <span id="wupig"> <select name="goods_tmp" id="goods_tmp">
      <option>请选择</option>
    </select>
   
     </span>
     <input  type="submit" name="button" id="button" value="添加到扩展表" />
   </form>
   
   </td>
  </tr>

 <!--  <tr>
    <td colspan="2">

	<a href="/?module=goods&methods=ext&type=1">装备</a>
  <a href="/?module=goods&methods=ext&type=2">道具</a>
<a href="/?module=goods&methods=ext&type=3">宝物</a>
</td>
  </tr> -->
  <echo>$html</echo>
</table>
