<gettemplet file="default/head.html"/>
<table align="center" width="90%" border="2" cellpadding="0" cellspacing="0">
  <tr>
    <td width="23%" valign="top"><div align="center">
        <iframe name="showsty"align="center" width="78%" height="33" cellpadding="0" cellspacing="0"> </iframe>
        <!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx --> 
      </div>
      <div id="updatebox"> </div>
      </td>
  </tr>
  <tr>
    <td colspan="8" align="left" bgcolor="#999999"><strong>综合</strong></td>
  </tr>
  <tr height="15">
    <td colspan="4"><div align="center" style="background-color:#0099CC;">base</div></td>
  </tr>
  <tr height="15">
    <td><li> <a   href="/?module=files&methods=generate&tab=base_goods&acc=1" target="showsty">base_goods</a> (<span id="span_table_comment4">物品基础表</span>)<br />
      </li></td>
    <td width="25%"><li> <a   href="/?module=files&methods=generate&tab=base_goods_ext&acc=1" target="showsty">base_goods_ext</a>(<span id="span_table_comment5">物品成品表</span>)<br />
      </li></td>
    <td width="29%"><li> <a   href="/?module=files&methods=generate&tab=user&acc=1" target="showsty">user</a> (<span id="span_table_comment5">用户表模版</span>)</li></td>
    <td width="23%"><li> <a   href="/?module=files&methods=generate&tab=base_errormsg&acc=1" target="showsty">base_errormsg</a> (<span id="span_table_comment23">错误提示信息</span>)</li></td>
  </tr>
  <tr height="15">
    <td><li> <a   href="/?module=files&methods=generate&tab=base_reg_conf&acc=1" target="showsty">base_reg_conf</a> (<span id="span_table_comment39">初始化注册配置</span>)<br />
      </li></td>
    <td><li> <a   href="/?module=files&methods=generate&tab=base_condition&acc=1" target="showsty">base_condition</a> (<span id="span_table_comment2">条件综合表</span>)</li>
    <td><li> <a   href="/?module=files&methods=generate&tab=base_loadres&acc=1" target="showsty">base_loadres</a> (<span id="span_table_comment35">资源加载表</span>)</li></td>
    <td><li> <a   href="/?module=files&methods=generate&tab=base_properties&acc=1" target="showsty">base_properties</a> (<span id="span_table_comment14">属性</span>)</li></td>
  </tr>
  <tr height="15">
    <td><li> <a   href="/?module=files&methods=generate&tab=base_msg_word&acc=1" target="showsty">base_msg_word</a> (<span id="span_table_comment11">公共提示词</span>)</li></td>
    <td><li> <a   href="/?module=files&methods=generate&tab=base_field&acc=1" target="showsty">base_field</a>(<span id="span_table_comment20">字段对应表</span>)</li></td>
    <td><li> <a   href="/?module=files&methods=generate&tab=base_quality&acc=1" target="showsty">base_quality</a> (<span id="span_table_comment16">品质</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base_war&acc=1" target="showsty">base_war</a> (<span id="span_table_comment6">战斗参数</span>)</li></td>
  </tr>
  <tr height="15">
    <td><li> <a   href="/?module=files&methods=generate&tab=base_parameter&acc=1" target="showsty">base_parameter</a>(<span id="span_table_comment11">参数表</span>)</li></td>
    <td><li> <a   href="/?module=files&methods=generate&tab=base_module&acc=1" target="showsty">base_module</a>(<span id="span_table_comment11">模块表</span>)</li></td>
    <td><li> <a  href="/?module=files&methods=generate&tab=base_operators&acc=1" target="showsty">base_operators</a>(<span id="span_table_comment11">运营商</span>)</li></td>
    <td><li><a  href="/?module=files&methods=generate&tab=ingroup&acc=1" target="showsty">ingroup</a> (<span id="span_table_comment29">刷新国家表</span>)</li></td>
  </tr>
  
    <tr height="15">
    <td><li><a  href="/?module=files&methods=generate&tab=base_updatelog&acc=1" target="showsty">base_updatelog</a> (<span id="span_table_comment29">游戏更新</span>)</li></td>
    <td><li></li></td>
    <td><li></li></td>
    <td><li></li></td>
  </tr>
  <!--  <tr><td> </td><td></td><td>&nbsp;</td></tr>  -->
  
  <tr height="15">
    <td colspan="8" align="left" bgcolor="#999999"><strong>RPG</strong></td>
  </tr>
  <tr height="15">
    <td><div align="center" style="background-color:#0099CC;">base1 </div></td>
    <td><div align="center" style="background-color:#0099CC;">base2</div></td>
    <td><div align="center" style="background-color:#0099CC;">base3</div></td>
    <td><div align="center" style="background-color:#0099CC;">base4</div></td>
  </tr>
  <tr height="15">
    <td><li> <a href="/?module=files&methods=generate&tab=base1_hero&acc=1" target="showsty">base1_hero</a>(<span id="span_table_comment51">英雄</span>)<br />
      </li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base2_monster&acc=1" target="showsty">base2_monster</a>(<span id="span_table_comment8">怪物信息表</span>) </li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_reward_points&acc=1" target="showsty">base3_reward_points</a> (<span id="span_table_comment6">悬赏积分奖励列</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base4_deliver&acc=1" target="showsty">base4_deliver</a> (<span id="span_table_comment28">传送列表</span>)</li></td>
  </tr>
  <tr height="15">
    <td><li> <a href="/?module=files&methods=generate&tab=base1_user_lv&acc=1" target="showsty">base1_user_lv</a>(<span id="span_table_comment15">人物等级</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base2_monster_list&acc=1" target="showsty">base2_monster_list </a> (<span id="span_table_comment12">怪物列表</span>)<br />
      </li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_mall&acc=1" target="showsty">base3_mall</a>(<span id="span_table_comment17">商城列表</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base4_activity&acc=1" target="showsty">base4_activity</a>(<span id="span_table_comment22">活动基表</span>)</li></td>
  </tr>
  <tr height="15">
    <td><li> <a href="/?module=files&methods=generate&tab=base1_hero_lv&acc=1" target="showsty">base1_hero_lv</a> (<span id="span_table_comment10">英雄等级表</span>)<br />
      </li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base2_monster_lv&acc=1" target="showsty">base2_monster_lv</a> (<span id="span_table_comment12">怪物等级表</span>)<br />
      </li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_star_recorded&acc=1" target="showsty">base3_star_recorded</a> (<span id="span_table_comment32">将星录</span>)</li></td>
    <td></td>
  </tr>
  <tr height="15">
    <td><li> <a href="/?module=files&methods=generate&tab=base1_formation&acc=1" target="showsty">base1_formation</a> (<span id="span_table_comment47">阵形基表</span>)<br /></li></td>
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_strengthen&acc=1" target="showsty">base3_strengthen</a> (<span id="span_table_comment26">强化列表</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base4_hotel&acc=1" target="showsty">base4_hotel</a> (<span id="span_table_comment44">酒馆游戏</span>)</li></td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&methods=generate&tab=base2_plot&acc=1" target="showsty">base2_plot</a> (<span id="span_table_comment7">剧情表</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_task&acc=1" target="showsty">base3_task</a> (<span id="span_table_comment18">任务基表</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base4_warriors&acc=1" target="showsty">base4_warriors</a> (<span id="span_table_comment34">无双升级</span>)</li></td>
  </tr>
  <tr height="15">
    <td><br /></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base2_npc&acc=1" target="showsty">base2_npc</a> (<span id="span_table_comment26">npc信息表</span>)<br />
      </li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_skill_show&acc=1" target="showsty">base3_skill_show</a> (<span id="span_table_comment6">技能展示</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base4_event_driven&acc=1" target="showsty">base4_event_driven</a> (<span id="span_table_comment26">事件驱动</span>)</li></td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_skill_effect&acc=1" target="showsty">base3_skill_effect</a>(<span id="span_table_comment27">忍术效果</span>)</li></td>
    <td><li> </td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&amp;methods=generate&amp;tab=base2_map1&amp;acc=1" target="showsty">base2_map1</a>(<span id="span_table_comment19">地图-章</span>)</li></td></td>
    <td><li   onmousedown="this.style.backgroundColor='#6CF'" > <a href="/?module=files&methods=generate&tab=base3_skill_state&acc=1" target="showsty">base3_skill_state</a> (<span id="span_table_comment22">技能状态</span>)</li></td>
  </tr>
  <tr height="15">
    <td><br /></td>
    <td><li> <a href="/?module=files&amp;methods=generate&amp;tab=base2_map2&amp;acc=1" target="showsty">base2_map2</a> (<span id="span_table_comment21">地图-节</span>)<br />
      </li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_skill&acc=1" target="showsty">base3_skill</a>(<span id="span_table_comment22">技能表</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base4_test_spree&acc=1" target="showsty">base4_test_spree</a>(<span id="span_table_comment22">封测礼包</span>)</li></td>
  </tr>
  <tr height="15">
    <td><br /></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base2_map_copy&acc=1" target="showsty">base2_map_copy</a>(<span id="span_table_comment22">地图怪物表</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_novice&acc=1" target="showsty">base3_novice</a> (<span id="span_table_comment6">新手基表</span>)<a href="/?module=files&methods=generate&tab=base3_novice1&acc=1" target="showsty">base3_novice1</a></li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base4_code&acc=1" target="showsty">base4_code</a> (<span id="span_table_comment6">激活码</span>) <a href="/?module=files&methods=deletecode" target="showsty">清除</a></li></td>
  </tr>
  <tr height="15">
    <td><br /></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base2_map_info&acc=1" target="showsty">base2_map_info</a> (<span id="span_table_comment31">普通地图信息表</span>)<br />
      </li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_artifact&acc=1" target="showsty">base3_artifact</a> (<span id="span_table_comment6">神器消耗</span>)</li></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base4_charge_spree&acc=1" target="showsty">base4_charge_spree</a> (<span id="span_table_comment6">首充礼包</span>)</li></td>
  </tr>
  <tr height="15">
    <td></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base2_war&acc=1" target="showsty">base2_war</a> (<span id="span_table_comment6">模拟战报</span>)</li></td>
    <td><li><a href="/?module=files&methods=generate&tab=base3_rural&acc=1" target="showsty">base3_rural</a> (<span id="span_table_comment28">农场地块开放</span>)</li></td>
    <td><li   onmousedown="this.style.backgroundColor='#6CF'" > <a href="/?module=files&methods=generate&tab=base4_spree&acc=1" target="showsty">base4_spree</a> (<span id="span_table_comment22">在线礼包</span>)</li></td>
  </tr>
  <tr height="15">
    <td></td>
    <td>&nbsp;</td>
    <td><li><a href="/?module=files&methods=generate&tab=base3_jade&acc=1" target="showsty">base3_jade</a> (<span id="span_table_comment28">魂玉</span>)</li></td>
    <td><li><a href="/?module=files&methods=generate&tab=base4_diamond&acc=1" target="showsty">base4_diamond</a> (<span id="span_table_comment28">黄钻奖励</span>)</li></td>
  <tr height="15">
    <td></td>
    <td>&nbsp;</td>
    <td><li><a href="/?module=files&methods=generate&tab=base3_rank&acc=1" target="showsty">base3_rank</a> (<span id="span_table_comment28">官阶基表</span>)</li></td>
    <td><li><a href="/?module=files&methods=generate&tab=base4_lottery&acc=1" target="showsty">base4_lottery</a> (<span id="span_table_comment28">每日抽奖</span>)</li></td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_mine&acc=1" target="showsty">base3_mine</a> (<span id="span_table_comment6">矿场</span>)</li></td>
      <td><li> <a href="/?module=files&methods=generate&tab=base4_operators_activity&acc=1" target="showsty">base4_operators_activity</a> (<span id="span_table_comment6">运营活动</span>)</li></td>
        
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_secretary&acc=1" target="showsty">base3_secretary</a> (<span id="span_table_comment6">小秘书基表</span>)</li></td>
      <td><li> <a href="/?module=files&methods=generate&tab=base4_league_war_map&acc=1" target="showsty">base4_league_war_map</a> (<span id="span_table_comment6">军团战</span>)</li></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_destiny&acc=1" target="showsty">base3_destiny</a> (<span id="span_table_comment6">天命表</span>)</li></td>
      <td> </td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_vip_privilege&acc=1" target="showsty">base3_vip_privilege</a> (<span id="span_table_comment6">VIP等级基表</span>)</li></td>
      <td> </td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><li> <a href="/?module=files&methods=generate&tab=base_sign&acc=1" target="showsty">base_sign</a> (<span id="span_table_comment6">每日fff签到</span>)</li></td>
     <td>  </td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_c_key&acc=1" target="showsty">base3_c_key</a> (<span id="span_table_comment6">屏蔽关键字</span>)</li></td>
     <td>  </td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_effect_show&acc=1" target="showsty">base3_effect_show</a> (<span id="span_table_comment6">模块特效</span>)</li></td>
     <td>  </td>
  </tr>
  <tr height="15">
    <td>&nbsp;</td>
    <td></td>
    <td><li> <a href="/?module=files&methods=generate&tab=base3_task_qq&acc=1" target="showsty">base3_task_qq</a> (<span id="span_table_comment6">腾讯交叉推广</span>)</li></td>
     <td>  </td>
  </tr>
</table>