<gettemplet file="default/head.html"/>
<table width="98%" border="1"  style="border-collapse: collapse; border-style: dotted; border-width: 0px"  bordercolor="#000000" cellspacing="0" cellpadding="2">
  <tr>
    <td height=30 colspan=7 bgcolor="#CC6699"><span class="style1">金额统计 </span></td>
  </tr>
  <tr>
    <td height=30 width="10%">模块ID</td>
    <td width="20%" align=center>用户ID</td>
    <td width="10%" align=center>金钱数量</td>
    <td width="10%" align=center>时间</td>
    <td width="17%" align=center>对金钱的操作+/-</td>
  </tr>
  <tr>
    <td colspan=7 height=30><input type='button' name='pnt' value='打印报表' onClick="javascript:window.print();"></td>
  </tr>
</table>
</body></html>