<gettemplet file="default/head.html"/>
<table width="98%" border="1"  style="border-collapse: collapse; border-style: dotted; border-width: 0px"  bordercolor="#000000" cellspacing="0" cellpadding="2">
  <tr>
    <td height=30 colspan=7 bgcolor="#CC6699" align="center"><span class="style1" >人名币玩家(VIP)</span></td>
  </tr>
  <tr>
    <td width="14%" align=center>用户ID号</td>
    <td width="17%" align=center>昵称</td>
    <td width="16%" align=center>等级</td>
    <td width="16%" align=center>总充值金额</td>
    <td width="18%" align=center>注册时间</td>
    <td width="19%" align=center>操作</td>
  </tr>
<!--? foreach((array)$data as $value){?-->
      <tr>
        <td><echo>$value["user_id"]</echo></td>
        <td><echo>$value["name"]</echo></td>
        <td><echo>$value["lv"]</echo></td>
        <td><echo>$value["money"]/10</echo></td>
        <td><echo>date("Y-m-d H:i:s",$value["createtime"])</echo></td>
        <td><a href="/?module=macro_data&methods=query_user_info&nickname=<echo>$value["name"]</echo>&query=1" target="_blank">编辑</a></td>
      </tr>
<!--?}?-->
</table>
</form>
<dt align="center">
  <echo>$pa</echo>
</dt>
</BODY></HTML>