@charset "utf-8";
body {font-family: "宋体",Arial,Helvetica, sans-serif,; font-size: 12px; color: #333333; padding:0px; margin:0px; }
div,span,ul,li,p,h1,h2,h3,h4,h5,h6,img,p,dl,dd,dt{ margin:0px; padding:0px;}
ul{ list-style-type: none; }
a{ color:#646363; text-decoration:none;}
a:hover{ color:#FF6600; text-decoration:underline;}
img{ border:0px;}
form{ margin:0px; padding:0px;}
input {vertical-align:middle; font-size:12px; padding:0 1px;}
.red{ color:#ff0000}
.green{ color:#339900;}
.orange{ color:#ee6501;}
.blue{ color:#0171ee;}
.black{ color:#000;}
.bold{ font-weight:bold;}
.fl{ float:left;}
.fr{ float:right;}
.cl{ clear:both;}
.tc{ text-align:center;}
.td_u{ text-decoration:underline;}
.tr{ text-align:right;}
/*GO*/


/**404**/
.error{ width:960px; margin:0 auto;}
.error404{ background:url(404_people.gif) 180px 70px no-repeat; height:400px; padding:100px 0 0 330px;}
.error404 h3{ font-size:16px; color:#000; line-height:32px; height:32px; margin-bottom:20px;}
.error404 p{ margin:5px 0; font-size:14px;}
.error404 span{ font-size:14px; font-weight:bold; color:red}
.error404 p a{ font-size:14px; font-weight:bold; color:#f97805;}