<form id="form1" name="form1" method="post" action="">
  <table width="100%" border="1">
    <tr>
      <td colspan="4" align="center">模拟充值(正式服请不要使用模拟充值，会影响数据统计)</td>
    </tr>
    <tr>
      <td width="33%" align="right">昵称</td>
      <td width="17%"><input type="text" name="nickname" id="nickname" /></td>
      <td width="4%">金额</td>
      <td width="46%"><input type="text" name="money" id="money" /></td>
    </tr>
    <tr>
      <td colspan="4" align="center"><input type="submit" name="button" id="button" value="提交" /></td>
    </tr>
  </table>
</form>
<gettemplet file="default/head.html"/>

</body>
</html>