<gettemplet file="default/head.html"/>
<style> 
body, td{ 
    font-size: 10pt; 
} 
a:link { 
    color: #FF0000; 
} 
a:visited { 
    color: #FF0000; 
} 
a:hover { 
    color: #006600; 
} 
.style1 {color: #0099CC}
</style> 
 <!-- <p align="center"><span class="style1">封IP号</span></p> -->
<form method="post" action="/?module=macro_data&methods=add_ip">
  <p>输入要封的IP：
        <input type="text" value="<echo>$ip</echo>" name="ip" size="50" id="ip" />
    &nbsp;禁言时间:
    <select name="time" id="time">
      <option selected="selected" value="99999999999">永久</option>
      <option value="10800">3小时</option>
      <option value="18000">5小时</option>
      <option value="86400">1天</option>
      <option value="172800">2天</option>
      <option value="432000">5天</option>
      <option value="1728000">20天</option>
      <option value="2678400">1个月</option>
      <option value="5356800">2个月</option>
      <option value="8035200">3个月</option>
    </select>
    (时)
 
 </p>
  <div> <input type="submit" name="add" value="添加到禁IP列表"> (多个用户昵称&quot;;&quot;隔开) 
 </div> 
 
 
</form>

<hr>
<table width="100%">
  <tr>
    <td bgcolor="#CCCCCC">IP</td>
    <td bgcolor="#CCCCCC">截止时间</td>
    <td bgcolor="#CCCCCC">操作</td>

    
  </tr>
  <variable data="$prohibit_speech">
    <loop list="$i">
   <tr>
    <td><echo>int2iP($prohibit_speech[$i]["ip"])</echo></td>
    <td><echo>$prohibit_speech[$i]["stop_time"]==0?"永久":$prohibit_speech[$i]["stop_time"]</echo></td>
    <td><a href="/?module=macro_data&methods=del_ip&ip=<echo>$prohibit_speech[$i]['ip']</echo>">解除封锁</a></td>
    
  </tr>
    </loop>
</variable>
</table>
