<gettemplet file="default/head.html"/>
<table width="100%" border="1">
  <tr>
    <td height="28" colspan="2" align="center"  valign="middle" bgcolor="#CCCCCC"  ><div align="center"> <span >删除用户</span> </div></td>
  </tr>
  <tr>
    <td width="50%" height="478" align="center" valign="top"><form  align="center" method="post" action="/?module=macro_data&methods=deleteuser_act">
        <p align="center"><span >用户昵称</span>：
          <input type="text3" value="" name="nickname" id="nickname">
        </p>
        <input type="submit" name="query" value="确定删除" />
      </form></td>
  </tr>
</table>
