<gettemplet file="default/head.html"/>
<style> 
body, td{ 
    font-size: 10pt; 
    	background-image: url(/template/default/money/back.gif);
} 
.input_on{ 
    padding:2px 8px 0pt 3px; 
    height:18px; 
    border:1px solid #999; 
    background-color:#FFFFCC; 
} 
.input_off{ 
    padding:2px 8px 0pt 3px; 
    height:18px; 
    border:1px solid #CCC; 
    background-color:#FFF; 
} 
.input_move{ 
    padding:2px 8px 0pt 3px; 
    height:18px; 
    border:1px solid #999; 
    background-color:#FFFFCC; 
} 
.input_out{ 
    /*height:16px;默认高度*/ 
    padding:2px 8px 0pt 3px; 
    height:18px; 
    border:1px solid #CCC; 
    background-color:#FFF; 
} 
/*form*/ 
ul.input_test{ 
    margin:20px auto 0 auto; 
    width:500px; 
    list-style-type:none; 
} 
ul.input_test li{ 
    width:500px; 
    height:22px; 
    margin-bottom:10px; 
} 
.input_test label{ 
    float:left; 
    padding-right:10px; 
    width:100px; 
    line-height:22px; 
    text-align:right; 
    font-size:1.4em; 
} 
.input_test p{ 
    float:left; 
    _margin-top:-1px; 
} 
.input_test span{ 
    float:left; 
    padding-left:10px; 
    line-height:22px; 
    text-align:left; 
    font-size:1.2em; 
    color:#999; 
a:link { 
    color: #FF0000; 
} 
a:visited { 
    color: #FF0000; 
} 
a:hover { 
    color: #006600; 
} 
.style1 {color: #0099CC}
.it_s { display:table; border:1px solid #979797}
.it1,.it2 { border:1px solid #fff; background:#fff none repeat scroll 0 0}
.it1 { border:1px solid #fff;}
.it2 { border-left:1px solid #000; border-top:1px solid #000}

.test {
   height: 16px;
   width: 120px;
}
</style>
<script language="JavaScript" type="text/javascript" src="/template/default/f/js/My97DatePicker/WdatePicker.js"></script>
<script type="text/javascript">
function check3()
{
   var text3=document.getElementById("nickname");
   var text4=document.getElementById("user_name");
   if(text3.value==""&&text4.value=="")
   {
     alert("不能为空哦！请重新输入其中一项再查询。");
   }
}
</script>
<table width="100%" border="1">
  <tr>
    <td height="28" colspan="2" align="center"  valign="middle" bgcolor="#CCCCCC"  ><div align="center"> 玩家武将日志查询 </div></td>
  </tr>
  <tr>
    <td width="50%" height="67" valign="top">
    <form  align="center" method="post" action="/?module=macro_data&methods=hero_log">
        <p align="center"><span class="style3">时间</span>：
          <input type="text" value="<echo>$_POST['time1']</echo>" class="Wdate" name="time1" id="time1" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" >
          &nbsp;
          <input type="text" value="<echo>$_POST['time2']</echo>" class="Wdate" name="time2" id="time2" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" >
          <input type="submit" name="query" value="查询" />
        </p>
      </form>
      <form  align="center" method="post" action="/?module=macro_data&methods=hero_log">
        <p align="center"><span class="style3">用户昵称</span>：
          <input type="text" value="<echo>isset($_POST['nickname'])?$_POST['nickname']:''</echo>" name="nickname" id="nickname">
          <input type="submit" name="query" value="查询" />
          查询多个请用,号分割 </p>
      </form></td>
  </tr>
</table>
<table width="100%" border="1" id="idshow">
  <tr>
    <td width="16%">玩家昵称</td>
    <td width="16%">模块</td>
    <td width="16%">武将名</td>
    <td width="16%">状态</td>
    <td width="16%">描述</td>
    <td width="16%">时间</td>
  </tr>
  <!--?
  foreach($hero_log as $value){
  ?-->

      <tr>
        <td><echo>$value["user_name"]</echo></td>
        <td><echo>isset($get_module[$value["module_sub_id"]])?$get_module[$value["module_sub_id"]]:$value["module_sub_id"]</echo></td>
        <td><echo>$value["nickname"]</echo></td>
        <td><echo>$value["e"]." ".$value["info"]</echo></td>
        <td><echo>$value["info"]</echo></td>
        <td><echo>$value["time"]==0?0:date("Y-m-d H:i:s",$value["time"])</echo></td>
      </tr>
    <!--?
  }
  ?-->
  <tr>
  </tr>
 
</table>
<script>
select_tr("idshow")
</script>
