<gettemplet file="default/head.html"/>
<table width="100%" border="1">
  <tr>
    <td width="50%" height="28" valign="top">&nbsp;</td>
  </tr>
</table>
<table width="100%" border="1">
    <tr>
      <td width="7%" bgcolor="#CCCCCC">id</td>
      <td width="7%" bgcolor="#CCCCCC">获取vip 双倍等级</td>
      <td width="10%" bgcolor="#CCCCCC">月份</td>
      <td width="10%" bgcolor="#CCCCCC">前段是否获取模型</td>
      <td width="54%" bgcolor="#CCCCCC">奖励通用格式</td>
    </tr>
    
    <!--?
    $type_name=array(1=>"是",0=>"否");
    ?-->
  <variable data="$base_sign">
    <loop list="$i">
      <tr>
        <td><echo>$base_sign[$i]["id"]</echo></td>
        <td><echo>$base_sign[$i]["vip_lv"]</echo></td>
        <td><echo>$base_sign[$i]["month"]</echo></td>
        <td><echo>$type_name[  $base_sign[$i]["is_show"] ]</echo></td>
        <td><echo>$base_sign[$i]["award"]</echo></td>
      </tr>
    </loop>
    
    <tr>
        <td><a href="/?module=macro_data&methods=upsignhuodong" id="header_index" hidefocus="true"  onclick=" return confirm('是否导入?'); "> 导入游戏</a> </td>
      </tr>
  </variable>
</table>
